/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  font-family: 'Muli', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Custom css start here */
.clearfix::before,
.clearfix::after{
  content: '';
  display: table;
  clear: both;
}
*{
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
}
.container {
  width: 100%;
  max-width: 1530px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  margin: 0 auto;
}
header{
  background: #FFFFFF;
  box-shadow: 0 2px 8px 0 rgba(239,239,239,0.50);
  padding: 8px 0 13px 0;
}
.top-logo{
  display: inline-block;
  position: relative;
  top: 4px;
  z-index: 3;
}
.top-logo a{
  display: inline-block;
}
.top-nav{
  width: 100%;
  position: absolute;
  right: 0px;
  top: 10px;
  text-align: right;
  z-index: 1;
}
.top-nav .menu-icon{
  font-size: 15px;
  color: #4A4A4A;
  text-align: left;
  text-transform: uppercase;
  cursor: pointer;
  background: url("../images/ico-menu.svg") no-repeat left center;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 11px;
  display: inline-block;
  z-index: 3;
  position: relative;
}
.top-nav .menu-items{  
  opacity: 0;
  visibility: hidden;
  width: 100%;
  position: absolute;
  right: 0px;
  top: 0;
  padding-right: 80px;
  transition: 0.3s;
}
.top-nav .menu-items.open{
  opacity: 1;
  visibility: visible;
  padding-right: 100px;
}
.top-nav .menu-items .list,
.top-nav .menu-items .search,
.top-nav .menu-items .flash-offer{
  display: inline-block;
  vertical-align: top;
}
.top-nav .menu-items .list{
  padding-top: 10px;
}
.menu-items .list ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu-items .list ul li{
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  color: #5B5B5B;
  text-align: left;
  margin-right: 48px;
}
.menu-items .list ul li a{
  color: inherit;
  text-decoration: none;
  position: relative;
  padding-bottom: 10px;
  transition: 0.3s;
}
.menu-items .list > ul > li.sub-menu > a::before{
  content: '';
  width: 4px;
  height: 4px;
  background: #FF3E56;
  display: inline-block;
  border-radius: 50px;
  position: absolute;  
  left: 0;
  right: 0;  
  bottom: 24px;
  margin: 0 auto;
  opacity: 0;
  transition: 0.3s;
}
.menu-items .list ul li.sub-menu:hover a{
  padding-bottom: 34px;
}
.menu-items .list > ul > li:hover > a{
  color: #FF3E56;
}
.menu-items .list ul li:hover a::before{
  opacity: 1;
}
.menu-items .list ul ul{
  height: 0px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 62px;
  z-index: 2;
  background: #FFFFFF;
  width: 100%;
  text-align: center;  
  transition: 0.3s;
}
.menu-items .list ul li.sub-menu:hover ul{
  opacity: 1;
  padding-top: 13px;
  height: auto;
  visibility: visible;
}
.menu-items .list ul ul li{
  display: inline-block;
  margin-right: 96px;
}
.menu-items .list ul ul li:last-child{
  margin-right: 0;
}
.menu-items .list ul ul a{
  display: inline-block;
}
.menu-items .list ul ul li:hover a{
  color: #FF3E56;
}
.menu-items .list ul ul .ms-icon{
  display: block;
  text-align: center;
  margin-bottom: 8px;
}
.menu-items .search{
  height: 40px;
  position: relative;
  opacity: 0.8;  
  background: url("../images/ico-search.svg") no-repeat 10px center;
  padding: 0 0 0 32px;
  border: 1px solid #6B9DA8;
  border-radius: 2px;
}
.menu-items .search input[type=text]{
  height: 38px;
  width: 243px;
  line-height: 38px;
  color: #5B5B5B;
  border: 0;
  outline: none;
  box-shadow: none;      
  vertical-align: top;
}
.menu-items .search input[type=text]::placeholder{
  opacity: 0.4;
  font-family: Muli-Regular;
  font-size: 14px;
  color: #7F7F7F;  
  text-align: left;  
}
.menu-items .search input[type=button]{
  width: 104px;
  height: 38px;
  line-height: 36px;
  font-size: 14px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  background: #FF3E56;
  box-shadow: 0 2px 10px 0 #FFA9B4;
  border-radius: 2px;
  border: 0;
  cursor: pointer;  
}
.top-nav .menu-items .flash-offer{    
  margin: -2px 0 0 15px;
}
.banner{
  height: 672px;
  background: url("../images/header-img.png") no-repeat;
  background-size: cover !important; 
  margin-top: 6px;
}
.banner .container{
  height: 100%;
}
.banner h1{
  font-size: 40px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  font-weight: 900;
  margin-bottom: 60px;
}
.banner p{
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  font-weight: 600;
  margin: 0;
}
.banner .bnr-txt{
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}
.banner .adv-search{
  margin: 60px 0;
}
.banner .adv-search{
  height: 60px;
  position: relative;
  background: #FFFFFF;
  border-radius: 4px;
  padding: 6px;
  border: 0;
}
.banner .adv-search select{
  width: 128px;
  height: 48px;
  float: left;
  background: #F3F3F3;
  border-radius: 2px;
  border: 0;
  padding: 0 15px;
  outline: none;
}
.banner .adv-search input[type=text]{
  float: left;
  height: 48px;
  width: 55%;
  line-height: 48px;
  font-size: 16px;
  color: #221E1E;
  border: 0;
  outline: none;
  box-shadow: none;      
  vertical-align: top;
  margin-left: 11px;
}
.banner .adv-search input[type=text]::placeholder{
  opacity: 0.4;
  font-family: Muli-Regular;
  font-size: 16px;
  color: #221E1E;
  text-align: left;  
}
.banner .adv-search input[type=button]{
  width: 134px;
  height: 48px;
  line-height: 46px;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  text-align: center;
  background: #FF3E56;
  border-radius: 2px;
  border: 0;
  cursor: pointer;  
  float: right;
}
.banner .mouse-down{
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-top: 30px;
}
#products-wrap{
  padding: 60px 0;
}
.left-area{
  width: 72%;
  float: left;
}
.right-area{
  width: 26%;
  max-width: 300px;
  float: right;
  text-align: right;
}
.left-area h2{
  font-size: 22px;
  color: #000000;
  text-align: left;
  font-weight: 700;
}
.left-area h2 span{
  display: inline-block;
  background: url("../images/ico-heading-style.svg") no-repeat right center;
  margin-left: 4px;
  width: 35px;
  height: 14px;
}
.left-area ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.left-area ul li{
  width: 21.5%;
  display: inline-block;
  margin: 45px 1.5% 0 1.5%;
  vertical-align: top;  
}
.left-area .hidden {
  visibility: hidden;
  width: 0px!important;
  height: 0px!important;
  margin: 0px!important;
  padding: 0px!important;
}
.left-area ul li a{
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  color: #221E1E;
  font-weight: 600;
  height: 102px;
}
.l-more{
  text-align: center;
  font-size: 16px;
  color: #FF3E56;
  letter-spacing: 0;
  font-weight: 600;
}
.l-more span{
  display: inline-block;
  cursor: pointer;
  background: url("../images/ico-expand.svg") no-repeat right 7px;
  padding-right: 15px;
  margin-top: 45px;
}
.left-area .ms-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 35px;
  min-width: 95px;
  text-align: center;
}
.right-area ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.right-area ul li{
  display: block;  
  margin-bottom: 35px;
}
.right-area ul a{
  text-decoration: none;
  display: block;
}
.right-area ul .mgrid img{
  width: 32%;
  height: 240px;
  margin-left: -4px;
}
.right-area ul .mgrid img:first-child{
  width: 36%;
}
.right-area ul a img{
  display: inline-block;  
}
.brands-catg{
  padding: 85px 0 20px 0;
}
.right-area ul img{
  max-width: 100%;
}
.ad-list{
  position: relative;
  background-image: linear-gradient(-225deg, #0BB5E8 0%, #057FCD 100%);
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 15px 10px 15px;
  text-align: left;
  margin-top: -3px;
}
.ad-list h4{
  opacity: 0.4;
  font-weight: 600;
  font-size: 10px;
  color: #FFFFFF;
}
.ad-list ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.ad-list ul li{
  display: block;
  margin-bottom: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.ad-list ul li:first-child{
  border-top: 0;
}
.ad-list ul li a{
  text-decoration: none;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: 600;
  background: url("../images/arrow-next.svg") no-repeat right center;
  padding: 14px 0; 
}

@media screen and (max-width: 1280px){
  .banner {
    height: 472px;
  }
  .left-area ul li {
    width: 29.5%;
  }
  .menu-items .search input[type=text] {    
    width: 150px;
  }
  .menu-items .list ul li{
    margin-right: 20px;
  }
  .menu-items .list ul ul li{
    margin-right: 58px;
  }
}

@media screen and (max-width: 1023px){
  .banner {
    height: 400px;
  }
  .left-area ul li {
    width: 46.5%;
  }
  .top-nav .menu-items .search {    
    display: none;
  }
  .menu-items .list ul ul{
    top: 61px;
  }
  .menu-items .list ul li{
    margin-right: 20px;
  }
  .menu-items .list ul ul li{
    margin-right: 58px;
  }
  .banner .adv-search input[type=text]{
    width: 50%;
  }
  .left-area {
    width: 64%;
  }
  .right-area {
    width: 34%;
  }    
}
@media screen and (max-width: 640px){
  .banner .adv-search {
      margin: 30px 0;
  }
  .banner .adv-search input[type=text]{
    width: 40%;
  }
  .banner .adv-search select {
    width: 25%;
  }
  .banner h1 {
    font-size: 34px;
  }
  .left-area {
    width: 100%;
  }
  .right-area {
    width: 100%;
    float: none;
    margin: 0 auto;
    padding-top: 40px;
    clear: left; 
  } 
  .top-nav .menu-items{
    right: 0px;    
    background: #FFFFFF;
    padding-right: 20px;
  }
  .top-nav .menu-items.open{
    padding-right: 20px;
    top: 40px;
  }
  .menu-items .list ul ul {
    top: 42px;
  }
  .menu-items .list ul ul li {
    margin-left: 15px;
    margin-right: 15px;
    min-width: 76px;
  }
  .l-more span{
    margin-top: 10px;
  }
}
@media screen and (max-width: 470px){
  .top-logo{
    max-width: 146px;
    top: 8px;
  }
  .top-nav .menu-items .flash-offer{
    max-width: 55px;
    margin-left: 0;
  }
  .top-logo img,
  .top-nav .menu-items .flash-offer img{
    width: 100%;
  }
  .top-nav .menu-icon{
    margin-top: 8px;
  }
  .menu-items .list ul li{
    font-size: 13px;
    margin-right: 12px;
  }
  .menu-items .list ul ul {
    top: 33px;
  }
  .menu-items .list ul li.sub-menu:hover a {
    padding-bottom: 29px;
  }
  .top-nav .menu-items.open{
    padding-bottom: 5px;
  }
  .menu-items .list ul ul li {
    margin-left: 10px;
    margin-right: 10px;
  }
  .banner {
    height: 350px;
  }
  .banner h1 {
    font-size: 30px;
    margin-bottom: 28px;
  }
  .banner .adv-search{
    padding: 6px 5px;
  }
  .banner .adv-search input[type=text] {
    width: 33%;
  }
  .banner .adv-search input[type=button] {
    width: 110px;
    font-size: 14px;
  }
  .banner .adv-search select {
    width: 21%;
    padding: 0 5px;
  }
  .left-area ul li{
    width: 100%;
  }
}